#gallery {
    width:100%;
}
#showcase {
	background-size:cover;
	display:flex;
    flex-direction:column;
}
#gallerycontroller {
    display:inline-flex;
	flex-direction:row;
	justify-content:space-between;
    background:#bbb;
}
#caseimg {
	margin:0;
	height:0 !important;
	padding-top:56.25%;
	background-color:#888;
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
    box-shadow:none;
    transition:all .3s;
}
#caseimg:hover {
    background-blend-mode:overlay;
}
#previous, #next, #galname {
	cursor:pointer;
	height:3.4em;
	width:3.4em;
	display:inline-flex;
	justify-content: center;
	align-items: center;
    background:url("img/arrow.svg") no-repeat center;
    filter:invert(1);
    background-size:50%;
    transition:all .3s;
}
#previous {
	transform:rotate(180deg);
}
#next:hover, #previous:hover {
	background-color:#222;
}
#galname {
	filter:unset;
	background:none;
	padding:0;
	width:unset;
    cursor:unset;
    color:#222;
}
#itemlist {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding:.25em;
    background:#ccc;
}
#itemlist img {
	box-shadow:none;
	width:100%;
}
.listitem {
	background:#bbb;
	margin:.25em;
	width:calc(20% - .5em);
	padding:.25em;
	padding-bottom:0;
	display:inline-flex;
	flex-direction:column;
	cursor:pointer;
    align-items:center;
    transition:all .3s;
}
.listitem:hover {
	background:#d0d0d0;
	transform:scale(1.11);
	transition:all .15s;
	z-index:2;
}
.itemname {
	margin:.5em 0;
	width:100%;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.itemimg {
	width:100%;
}
.img {
    background-size:cover;
	background-position:center;
    padding-top:56.25%;
}
.listitem:hover .itemname {
	height:unset;
	top:0;
	left:0;
	overflow:unset;
	white-space:unset;
}
@media all and (max-width:1024px) {
	.listitem {
		width:calc(25% - .5em);
	}
}
@media all and (max-width:768px) {
	.listitem {
		width:calc(33% - .5em);
	}
}
@media all and (max-width:512px) {
	.listitem {
		width:calc(50% - .5em);
	}
}
@media all and (max-width:320px) {
	.listitem {
		width:100%;
	}
}